.block-hero-teaser {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	@include fullheight;
	.hero-teaser-decription-container {
		display: flex;
		@include fullheight;
		overflow: hidden;
		&.oben-links {
			align-items: flex-start;
			justify-content: flex-start;
		}
		&.oben-mitte {
			align-items: flex-start;
			justify-content: center;
		}
		&.oben-rechts {
			margin-top: $mobile-header-height;
			@include breakpoint(medium) {
				margin-top: $header-height;
			}
			align-items: flex-start;
			justify-content: flex-end;
		}
		&.mitte-links {
			align-items: center;
			justify-content: flex-start;
		}
		&.mitte-mitte {
			align-items: center;
			justify-content: center;
		}
		&.mitte-rechts {
			align-items: center;
			justify-content: flex-end;
		}
		&.unten-links {
			align-items: flex-end;
			justify-content: flex-start;
		}
		&.unten-mitte {
			align-items: flex-end;
			justify-content: center;
		}
		&.unten-rechts {
			align-items: flex-end;
			justify-content: flex-end;
		}
		.callout {
			max-width: 600px;
			margin: $gutter * 5;
			margin-top: $mobile-header-height + $gutter * 5;
			@include breakpoint(medium) {
				margin-top: $header-height + $gutter * 5;
			}
		}
	}
	img.hero-bg-image {
		position: absolute;
		top: 0;
		left: 0;
		@include fullheight;
		width: 100%;
		z-index: -1;
		object-fit: cover;
	}
	.scroll-down {
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 0;
		background: red;
		display: none;
		@include font-size-h1;
		text-shadow: $shadow;
	}
}