.block-hero-teaser {
	position: relative;
	@include fullheight-header;
	img.hero-bg-image {
		position: absolute;
		top: 0;
		left: 0;
		@include fullheight-header;
		width: 100%;
		z-index: -1;
		object-fit: cover;
	}
}
