.block-hero-teaser {
	position: relative;
	@include fullheight;
	img.hero-bg-image {
		position: absolute;
		top: 0;
		left: 0;
		@include fullheight;
		width: 100%;
		z-index: -1;
		object-fit: cover;
	}
	.scroll-down {
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 0;
		@include font-size-h1;
		box-shadow: $shadow;
	}
}
