$input-height: 45px;
.select2-container .select2-selection--single {
	height: $input-height;
	background: $medium-gray;
	border-color: $medium-gray;
	.select2-selection__rendered {
		line-height: $input-height;
		
	}
	.select2-selection__arrow {
		height: $input-height;
	}
}