/* Globals */
*:focus {
  outline: 1px dotted $anchor-color;
}
/* Links */
// a:is(h1, h2, h3, h4, h5, h6) {
//   text-decoration: none;
// }
.card {
  transition: $global-transition;
  &.clickable:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: $global-transition;
  }
}


/* Layout */
.main-content {
  // Margin-top would be for fixed header
  margin-top: $mobile-header-height;
  @include breakpoint(medium) {
    margin-top: $header-height;
  }
  min-height: $mobile-fullheight-header-footer;
  @include breakpoint(medium) {
    min-height: $fullheight-header-footer;
  }
}

/* Header */
.site-header {
  position: fixed;
  z-index: $front;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($white, 0.1);
  backdrop-filter: saturate(100%) blur(20px);
  .grid-x {
    min-height: $mobile-header-height;
    @include breakpoint(medium) {
      min-height: $header-height;
    }
  }
  img.logo {
    height: calc(1 * #{$mobile-header-height - $gutter * 2});
    margin-left: auto; // Makes the logo right aligned in Title Bar
    @include breakpoint(medium) {
      height: calc(1 * #{$header-height - $gutter * 2});
    }
  }
}
/* Navigation */
.menu {
  li {
    &.current-product-ancestor,
    &.current-menu-parent,
    &.current-product-parent,
    &.current-menu-item {
      position: relative;
      &:before {
        content: '';
        width: 10px;
        height: 10px;
        background: $black;
        border-radius: 100%;
        position: absolute;
        top: 14px;
        left: 0;
      }
    }
  }
}
/* Footer */
.site-footer {
  overflow: hidden; // Foundation Menu
  min-height: $mobile-footer-height;
  @include breakpoint(medium) {
    min-height: $footer-height;
  }
}
/* Home */
/* Page */
/* Single */
/* F6 */
.block-grid {
  .cell {
    margin-bottom: $space-medium;
  }
}
.grid-container {
  .grid-container {
    padding-left: 0;
    padding-right: 0;
  }
}
table {
  tbody {
    border-left: none;
    border-right: none;
  } 
}
.callout {
  background-color: $black;
  @include white-color;
}

/* Foundation Elements */
.accordion {
  background-color: transparent;
  
  &-item + &-item {
    margin-top: $space-xsmall;
  }

  &-title {
    background-color: $black;
    &:hover {
      color: $white;
    }
    &:active, &:focus {
      border: none;
      color: $white;
    }
  }
}

/* Plugins */
