/* This SASS contains Elements that can be used for framework like options, all concerning spacings */
/* Spaces */
.no-space {
  margin: 0;
}

.no-space-bottom {
  margin-bottom: 0;
}

.no-space-top {
  margin-top: 0;
}

img.fullwidth {
  width: 100%;
  height: auto;
}

.position-relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}
/* Heights */
.fullheight-header {
  height: $fullheight-header;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.fullheight {
  height: $fullheight;
}

.halfheight {
  height: $halfheight;
}

.twothirdheight {
  height: $twothirdheight;
}

.object-fit {
  object-fit: cover;
  min-width: 100%;
}

.space-top-header-height {
  margin-top: $header-height;
}

/* Aspect Ratio Containers */
.one-one-min-height-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  .one-one-min-height {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

.menu-offset-left {
  margin-left: -1rem;
}

.menu-offset-right {
  margin-right: -1rem;
}

@mixin product-image-size-landscape {
  &.landscape {
    width: $mobile-product-image-size * 1.25;
    @include breakpoint(medium) {
      width: $product-image-size * 1.25;
    }
    height: auto;
  } 
}
@mixin product-image-size-portrait {
  &.portrait {
    height: $mobile-product-image-size;
    @include breakpoint(medium) {
      height: $product-image-size;
    }
    width: auto;
  }
}
@mixin product-image-background {
  background-color: $light-gray;
  padding: $space-medium;
}
@mixin product-image-container-scaffolding {
  img {
    @include product-image-size-landscape;
    @include product-image-size-portrait;
    @include product-image-background; 
  }
}
