/* Globals */
*:focus {
  outline: 1px dotted $anchor-color;
}
/* Links */
// .main-content {
//   a:not(.card a):not(.tabs a):not(.button) {
//     border-bottom: 2px solid currentColor;
//     display: inline-block;
//     line-height: 0.85;
//     text-shadow: 2px 2px white, 2px -2px white, -2px 2px white, -2px -2px white;
//   }
// }
a {
  &.icon-font,
  &h1,
  &h2,
  &h3,
  &h4,
  &h5,
  &h6 {
    text-decoration: none;
  }
}
.tabs {
  a {
    text-decoration: none;
  }
}
.card {
  transition: $global-transition;
  &.clickable:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: $global-transition;
    box-shadow: $shadow;
  }
  a {
    text-decoration: none;
  }
  .wc-gzd-additional-info {
    display: none;
  }
}


/* Layout */
.main-content {
  // Margin-top would be for fixed header
  margin-top: $mobile-header-height * 1.5;
  @include breakpoint(large) {
    margin-top: $header-height * 1.5;
  }
  min-height: $mobile-fullheight-header-footer;
  @include breakpoint(large) {
    min-height: $fullheight-header-footer;
  }
}
.home {
  .main-content {
    margin-top: 0;
  }
}

/* Header */
.site-header {
  position: fixed;
  z-index: $front;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid $black;
  .grid-x {
    min-height: $mobile-header-height;
    @include breakpoint(large) {
      min-height: $header-height;
    }
  }
  .logo {
    svg {
      height: calc(1 * #{$mobile-header-height - $gutter * 2});
      margin-left: auto; // Makes the logo right aligned in Title Bar
      @include breakpoint(large) {
        height: calc(1 * #{$header-height - $gutter * 2});
      }
    }
  }
  .cart-container {
    margin-top: $space-small;
    border-top: 1px solid $black;
    .menu {
      margin-top: $space-small;
    }
    @include breakpoint(large) {
      border-left: 1px solid $black;
      border-top: none;
      margin-top: 0;
      .menu {
        margin-top: 0;
      }
    }
  }
}

body[data-darkmode-isdark-value="true"] .cart-container {
  border-top: 1px solid $white;
  @include breakpoint(large) {
    border-left: 1px solid $white;
    border-top: none;
  }
}
/* Navigation */
.menu {
  li {
    &.current-product-ancestor,
    &.current-menu-parent,
    &.current-product-parent,
    &.current-menu-item,
    &.is-active {
      text-decoration: underline;
    }
    &.is-active {
      background-color: transparent;
    }
  }
}

html.backdropfilter {
  .site-header,
  .mobile-menu,
  .callout {
    @include background-blur;
  }
}
html.no-backdropfilter {
  .site-header,
  .mobile-menu {
    background: $white;
  }
}

.mobile-menu {
  display: none;
  height: calc(100vh);
  padding-top: $space-large;
  .menu {
    li {
      a {
        text-align: center;
        @include font-size-h1;
      }
    }
  }
}
.hamburger-icon {
  font-size: $small-font-size-h1;
}
/* Footer */
.site-footer {
  overflow: hidden; // Foundation Menu
  min-height: $mobile-footer-height;
  @include breakpoint(large) {
    min-height: $footer-height;
  }
  .logo {
    svg {
      width: 120px;
      height: auto;
      margin-bottom: $space-small;
    }
  }
  .menu {
    li {
      a {
        padding-top: 0;
      }
    }
  }
}
/* Home */
/* Page */
.page-title-container {
  padding-top: $space-small;
  padding-bottom: $space-small;
  @include breakpoint(medium) {
    padding-top: $space-large;
    padding-bottom: $space-medium;
  }
  text-align: center;
}
/* Single */
/* F6 */
.button {
  text-decoration: none;
  &:hover {
  }
}
.block-grid {
  .cell {
    margin-bottom: $space-medium;
  }
}
.grid-container {
  .grid-container {
    padding-left: 0;
    padding-right: 0;
  }
}
table {
  @include font-size-h4;
  label {
    @include font-size-h4;
  }
  thead {
    border: none;
  }
  tbody {
    border: none;
    // tr:last-child {
    //   border-bottom: none;
    // }
  }
  tfoot {
    border: none;
  }
}

/* Foundation Elements */
.accordion {
  background-color: transparent;
  
  &-item + &-item {
    margin-top: $space-xsmall;
  }

  &-title {
    background-color: $black;
    &:hover {
      color: $white;
    }
    &:active, &:focus {
      border: none;
      color: $white;
    }
  }
}

/* Custom Styles for Categories */
.product_cat-poster,
.product_cat-online-portfoliosichtungen,
.product_cat-spezial-editionen,
.product_cat-print-editionen,
.product_cat-sonderedition,
.product_cat-prints {
  .card,
  &.swiper-slide {
    img {
      box-shadow: $shadow;
      background-color: $white;
    }
    &.clickable:hover {
      box-shadow: none;
    }
  }
}
li.product_cat-prints {
  .card.photographer-23,
  &.swiper-slide.photographer-23 {
    img {
      box-shadow: none;
    }
  }
}

