/* Globals */
*:focus {
  outline: 1px dotted $anchor-color;
}
/* Links */
// .main-content {
//   a:not(.card a):not(.tabs a):not(.button) {
//     border-bottom: 2px solid currentColor;
//     display: inline-block;
//     line-height: 0.85;
//     text-shadow: 2px 2px white, 2px -2px white, -2px 2px white, -2px -2px white;
//   }
// }
a {
  &.icon-font,
  &h1,
  &h2,
  &h3,
  &h4,
  &h5,
  &h6 {
    text-decoration: none;
  }
}
.tabs {
  a {
    text-decoration: none;
  }
}
.card {
  transition: $global-transition;
  &.clickable:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: $global-transition;
    box-shadow: $shadow;
  }
  a {
    text-decoration: none;
  }
}


/* Layout */
.main-content {
  // Margin-top would be for fixed header
  margin-top: $mobile-header-height;
  @include breakpoint(medium) {
    margin-top: $header-height;
  }
  min-height: $mobile-fullheight-header-footer;
  @include breakpoint(medium) {
    min-height: $fullheight-header-footer;
  }
}

/* Header */
.site-header {
  position: fixed;
  z-index: $front;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($white, 0.1);
  backdrop-filter: saturate(100%) blur(20px);
  .grid-x {
    min-height: $mobile-header-height;
    @include breakpoint(medium) {
      min-height: $header-height;
    }
  }
  img.logo {
    height: calc(1 * #{$mobile-header-height - $gutter * 2});
    margin-left: auto; // Makes the logo right aligned in Title Bar
    @include breakpoint(medium) {
      height: calc(1 * #{$header-height - $gutter * 2});
    }
  }
  .cart-container {
    border-top: 1px solid $black;
    @include breakpoint(medium) {
      border-left: 1px solid $black;
      border-top: none;
    }
  }
}
/* Navigation */
.menu {
  li {
    &.current-product-ancestor,
    &.current-menu-parent,
    &.current-product-parent,
    &.current-menu-item,
    &.is-active {
      position: relative;
      &:before {
        content: '';
        width: 10px;
        height: 10px;
        background: $black;
        border-radius: 100%;
        position: absolute;
        top: 14px;
        left: 0;
      }
    }
    &.is-active {
      background-color: transparent;
    }
  }
}
.mobile-menu {
  display: none;
  background: lime;
  height: calc(100vh);
  background-color: rgba($white, 0.1);
  backdrop-filter: saturate(100%) blur(20px);
  padding-top: $space-large;
  .menu {
    li {
      a {
        text-align: center;
        @include font-size-h1;
      }
    }
  }
}
/* Footer */
.site-footer {
  overflow: hidden; // Foundation Menu
  min-height: $mobile-footer-height;
  @include breakpoint(medium) {
    min-height: $footer-height;
  }
  img.logo {
    width: 120px;
    height: auto;
  }
  .menu {
    li {
      a {
        padding-top: 0;
      }
    }
  }
}
/* Home */
/* Page */
.page-title-container {
  padding-top: $space-large;
  padding-bottom: $space-large;
  @include breakpoint(medium) {
    padding-top: $space-xlarge;
    padding-bottom: $space-xlarge;
  }
  text-align: center;
}
/* Single */
/* F6 */
.button {
  text-decoration: none;
}
.block-grid {
  .cell {
    margin-bottom: $space-medium;
  }
}
.grid-container {
  .grid-container {
    padding-left: 0;
    padding-right: 0;
  }
}
table {
  @include font-size-h4;
  label {
    @include font-size-h4;
  }
  thead {
    border: none;
  }
  tbody {
    border: none;
    // tr:last-child {
    //   border-bottom: none;
    // }
  }
  tfoot {
    border: none;
  }
}
.callout {
  background-color: $black;
  @include white-color;
}
/* Plugins */
