/* Swiper */
$swiper-button-size: 30px;
$mobile-swiper-button-size: 30px;
$max-image-height: 51vh;
$max-image-height-viewport-header: calc(100vh - #{$mobile-header-height});
$product-image-height: 600px;
$mobile-product-image-height: auto;
@mixin product-image-height {
  height: $mobile-product-image-height;
  width: auto;
  @include breakpoint(medium) {
    height: $product-image-height;
    width: auto;
  }
}

/* Globals */
.swiper-button-next,
.swiper-button-prev {
  &:after {
    color: $black;
    @include icon-font;
    font-size: $global-font-size;
    @include breakpoint(medium) {
      @include font-size-h2;
    }
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
  }
}
.swiper-button-next:after {
  content: '';
}

.swiper-button-prev:after {
  content: '';
}


.swiper.single-product-swiper {
  padding-top: $space-medium;
  padding-bottom: $space-medium;
  .swiper-wrapper {
    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .product-image {
        @include product-image-background;
      }
    }
  }
}

.product-swiper {
  .swiper-wrapper {
    .swiper-slide {
      width: auto!important;
      height: auto;
      display: flex;
      align-items: center;
      @include product-image-container-scaffolding;
    }
  }
}

// .swiper-button-next,
// .swiper-button-prev {
//   position: relative;
//   background-image: none;
//   background-position: center;
//   background-repeat: no-repeat;
//   text-align: center;
//   top: 0;
//   margin: 0;
//   color: $anchor-color;
//   width: $mobile-swiper-button-size;
//   height: $mobile-swiper-button-size;
//   border-radius: $mobile-swiper-button-size;
//   font-size: $mobile-swiper-button-size * 1;
//   line-height: $mobile-swiper-button-size * 1;
//   /* optical */
//   @media screen and #{breakpoint(medium)} {
//     font-size: $swiper-button-size * 1;
//     line-height: $swiper-button-size * 1;
//     /* optical */
//     width: $swiper-button-size;
//     height: $swiper-button-size;
//   }
// }
// 
// .swiper-button-next {
//   right: 0;
// }
// .swiper-button-prev {
//   left: 0;
// }
// 
// .swiper-pagination-bullet-active {
//   background-color: $anchor-color;
// }
// 
// .swiper-button-next.swiper-button-disabled,
// .swiper-button-prev.swiper-button-disabled {
//   opacity: 0;
// }