/* Swiper */
$swiper-button-size: 30px;
$mobile-swiper-button-size: 30px;
$max-image-height: 51vh;
$max-image-height-viewport-header: calc(100vh - #{$mobile-header-height});

.swiper.single-product-swiper {
  padding-top: $space-medium;
  padding-bottom: $space-medium;
  .swiper-wrapper {
    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

// .swiper-button-next,
// .swiper-button-prev {
//   position: relative;
//   background-image: none;
//   background-position: center;
//   background-repeat: no-repeat;
//   text-align: center;
//   top: 0;
//   margin: 0;
//   color: $anchor-color;
//   width: $mobile-swiper-button-size;
//   height: $mobile-swiper-button-size;
//   border-radius: $mobile-swiper-button-size;
//   font-size: $mobile-swiper-button-size * 1;
//   line-height: $mobile-swiper-button-size * 1;
//   /* optical */
//   @media screen and #{breakpoint(medium)} {
//     font-size: $swiper-button-size * 1;
//     line-height: $swiper-button-size * 1;
//     /* optical */
//     width: $swiper-button-size;
//     height: $swiper-button-size;
//   }
// }
// 
// .swiper-button-next {
//   right: 0;
// }
// .swiper-button-prev {
//   left: 0;
// }
// 
// .swiper-pagination-bullet-active {
//   background-color: $anchor-color;
// }
// 
// .swiper-button-next.swiper-button-disabled,
// .swiper-button-prev.swiper-button-disabled {
//   opacity: 0;
// }