// Layout of pages and blocks: defines the spaces *around* blocks

$column-gutter: map-get($grid-column-gutter, 'small');

.page-content {	
  > * {
	&.wp-block-group {
	  padding-left: 0;
	  padding-right: 0;
	}
	margin: 0 auto;
	width: 100%;
	max-width: calc(#{$global-width} + #{$column-gutter * 1});
	// padding-left: $column-gutter * 0.5;
	// padding-right: $column-gutter * 0.5;

	@include breakpoint(medium) {
	  max-width: calc(12 / 12 * #{$global-width});
	  &.wp-block-file {
		max-width: calc(12 / 12 * #{$global-width} - #{$column-gutter} * 4);
	  }
	  &.fullwidth,
	  &.fullwidth {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
		.wp-block-group__inner-container {
		  overflow: hidden;
		}
	  }
	}
  }
  > ul:not([class]),
  > ol:not([class]) {
	margin-left: 0;
	padding-left: $column-gutter * 2;
	padding-right: $column-gutter * 2;
  }

  .has-background:not(.fullwidth) {
	// width: calc(#{$global-width} - #{$column-gutter * 4});
	// max-width: calc(#{$global-width} - #{$column-gutter * 4});
	margin-left: $gutter;
	margin-right: $gutter;
	max-width: calc(100% - 2 * #{$gutter});
	
	@include breakpoint(large) {
	  max-width: calc(8 / 12 * #{$global-width} - #{$column-gutter} * 1);
	  margin: 0 auto;
	}
  }
  .wp-block-buttons.centered {
	  display: flex;
	  justify-content: center;
  }
}
