ul.products {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(1, auto);
	@include breakpoint(medium) {
		grid-template-columns: repeat(3, auto);
	}
	@include breakpoint(large) {
		grid-template-columns: repeat(4, auto);
	}
	grid-gap: $space-medium;
	justify-content: space-between;
	li {
		.product-image-container {
			background-color: $light-gray;
			img.product-image {
				padding: $space-medium;
			}
		}
	}
}
.product {
	span.onsale {
		background: $black;
		@include white-color;
		position: absolute;
		top: -$gutter;
		right: -$gutter;
		padding: $global-menu-padding;
	}
}

.single-product {
	.entry-summary {
		display: flex;
		align-items: center;
		border-bottom: $hr-border;
		padding-top: $space-small;
		form.cart {
			display: flex;
			.quantity {
				padding: 0 $gutter;
			}
			
		}
	}
}