/* Swiper */
$swiper-button-size: 30px;
$mobile-swiper-button-size: 30px;
$max-image-height: 51vh;
$max-image-height-viewport-header: calc(100vh - #{$mobile-header-height});
$product-image-height: 600px;
$mobile-product-image-height: auto;
@mixin product-image-height {
  height: $mobile-product-image-height;
  width: auto;
  @include breakpoint(medium) {
    height: $product-image-height;
    width: auto;
  }
}

.swiper {
  user-select: none;
}

/* Globals */
.swiper-button-next,
.swiper-button-prev {
  &:after {
    color: $black;
    @include icon-font;
    font-size: $global-font-size;
    @include breakpoint(medium) {
      @include font-size-h2;
    }
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
  }
}
.swiper-button-next:after {
  content: '';
}

.swiper-button-prev:after {
  content: '';
}


.swiper.single-product-swiper {
  padding-top: $space-medium;
  padding-bottom: $space-medium;
  .swiper-wrapper {
    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        @include product-image-size-portrait;
        @include product-image-size-landscape;
      }
    }
  }
}

.product-swiper {
  padding-top: $space-medium;
  padding-bottom: $space-medium;
  @include breakpoint(medium) {
    padding-top: $space-large;
    padding-bottom: $space-large;
  }
  .swiper-wrapper {
    .swiper-slide {
      //width: auto!important;
      height: auto;
      display: flex;
      align-items: center;
    }
  }
}
.hero-swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $light-gray;
  @include fullheight;
  z-index: -1;
  .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  }
}