$item-width-large: calc(25% - #{$space-medium});
$equalizer-large: $space-medium / 4;
$total-large: calc(#{$item-width-large} + #{$equalizer-large});

$item-width-medium: calc(33.3333% - #{$space-medium});
$equalizer-medium: $space-medium / 3;
$total-medium: calc(#{$item-width-medium} + #{$equalizer-medium});

/* header */
.custom-cart {
	position: relative;
	span {
		position: absolute;
		font-size: $small-font-size;
		display: inline-block;
		padding: 3px;
		width: 1.5rem;
		height: 1.5rem;
		border: 2px solid $black;
		border-radius: 99999px;
		text-align: center;
		top: 50%;
		right: -15px;
		transform: translateY(-50%);
	}
}

ul.products {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(1);

	@include breakpoint(medium) {
		grid-template-columns: repeat(3, $total-medium);
	}

	@include breakpoint(large) {
		grid-template-columns: repeat(4, $total-large);
	}

	grid-gap: $space-medium;

	//justify-content: space-between;
	// display: flex;
	// background: lime;
	// flex-wrap: wrap;
	//justify-content: space-between;
	li {

		// flex-grow: 0;
		// flex-shrink: 0;
		.product-image-container {
			@include product-image-background;
		}
	}
}
@mixin my-table-stack {
	  thead {
		th {
		  display: block;
		}
	  }
	
	  tfoot {
		display: none;
	  }
	
	  tr,
	  th,
	  td {
		display: block;
	  }
	
	  td {
		border-top: 0;
	  }
	}
	
table.shop_table {
	@include breakpoint(medium down) {
		  @include my-table-stack;
	 }
}

.product {
	span.onsale {
		background: $black;
		@include white-color;
		position: absolute;
		top: -$gutter;
		right: -$gutter;
		padding: $global-menu-padding;
	}
}

.single-product {
	.entry-summary {
		@include breakpoint(medium) {
			max-width: 50%;
		}
		// display: flex;
		// align-items: center;
		padding-top: $space-small;
		padding-bottom: $space-large;
		// > * {
		// 	padding-right: $space-medium;
		// 	margin-bottom: 0;
		// }

// 		form.cart {
// 			display: flex;
// 			align-items: center;
// 
// 			.quantity {
// 				padding: 0 $gutter;
// 			}
// 
// 			input,
// 			select {
// 				margin-bottom: 0;
// 			}
// 
// 			select {
// 				margin-bottom: 5px; //optical
// 			}
// 		}

		.single_variation_wrap {
			.single_variation {
				padding-top: $space-medium;
				padding-bottom: $space-medium;
			}
		}

		// .woocommerce-variation-add-to-cart {
		// 	display: flex;
		// 	align-items: center;
		// }
	}
}

.woocommerce-message {
	border: 2px solid $black;
	margin: $space-medium auto;
	font-size: $lead-font-size;

	@include breakpoint(medium) {
		max-width: 100%;
	}

	padding: $space-medium;
	padding-bottom: $space-xlarge;
	border-radius: $alternative-radius;
	position: relative;

	a.button {
		position: absolute;
		bottom: calc(0.5 * #{$space-medium});
		left: $space-medium;
	}
}
ul.woocommerce-error {
	font-size: $lead-font-size;
	color: $alert-color;
}

/* Cart + Checkout */
.woocommerce-cart,
.woocommerce-checkout {

	.woocommerce-cart-form,
	.cart-collaterals,
	.checkout,
	.woocommerce-order {
		position: relative;
		margin-bottom: $space-large;
		h2,
		h3,
		h4,
		h5,
		h6 {
			@include font-size-h4;
		}
		// margin: 0 auto;
		// @include breakpoint(medium) {
		// 	max-width: calc(8 / 12 * #{$global-width});
		// }
		
		// &:after,
		// &:before {
		// 	content: "";
		// 	display: block;
		// 	position: absolute;
		// 	bottom: -20px;
		// 	left: 0;
		// 	right: 0;
		// 	height: 20px;
		// 	/* TODO Add browser prefixes */
		// 	background:linear-gradient(45deg, transparent 33.333%, $light-gray 33.333%, $light-gray 66.667%, transparent 66.667%),
		// 	linear-gradient(-45deg, transparent 33.333%, $light-gray 33.333%, $light-gray 66.667%, transparent 66.667%);
		// 	background-size: 20px 40px;
		// 	background-position: 0 -20px;
		// }
		// &:before {
		// 	top: -20px;
		// 	transform: rotate(180deg);
		// }
		img.attachment-woocommerce_thumbnail {
			@include breakpoint(medium) {
				max-height: 120px;
				max-width: 120px;
			}
		}
	}
	.woocommerce-cart-form {
		table {
			thead {
				display: none;
			}
			tbody {
				tr:last-child {
					border-bottom: none;
				}
			}
		}
	}

	.cart-collaterals {
		margin-bottom: $space-large;
		h2 {
			border-bottom: 2px solid $black;
			padding-bottom: $space-small;
		}
		.cart_totals {
			table {
				tbody {
					border-color: $white;
					vertical-align: top;
					* {
						border: none;
					}

					th {
						text-align: left;
					}
					tr {
						@include breakpoint(large) {
							td:nth-child(2) {
								text-align: right;
								padding-right: $space-medium;
							}
						}
					}
				}
			}
			.wc-proceed-to-checkout {
				@include clearfix;
				.button {
					@include button-expand(true);
					float: right;
					
					@include breakpoint(medium) {
						width: 50%; 
					}
				}
			}
		}
	}

	.shop_table {
		input {
			margin-bottom: 0;
		}
	}
	/* Checkout */
	ul.woocommerce-shipping-methods {
		list-style: none;
		margin: 0;
	}
	#order_review_heading {
		@include font-size-h1;
	}
	.place-order {
		@include clearfix;
		.button {
			@include button-expand(true);
			float: right;
			
			@include breakpoint(medium) {
				width: 50%; 
			}
		}
	}
}
/* Payments */
.woocommerce-checkout-payment {
	ul.methods {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			border: 2px solid $black;
			padding: $gutter;
			margin-bottom: $gutter;
			* {
				margin-bottom: 0;
			}
			.payment_method_paypal {
				img {
					margin-right: 5px;
					margin-left: 5px;
				}
			}
		}
	}
}

/* Confirmations */
.woocommerce-order {
	* {
		@include font-size-h4;
	}
	.woocommerce-bacs-bank-details {
		border-top: 2px solid $black;
		border-bottom: 2px solid $black;
		margin-top: $space-medium;
		margin-bottom: $space-medium;
		padding-top: $space-medium;
		padding-bottom: $space-medium;
		h3.wc-bacs-bank-details-account-name {
			@include font-size-h1;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				@include font-size-h1;
				strong {
					@include font-size-h1;
				}
			}
		}
	}
}

/* Notices Messages */
.woocommerce-notice {
	border: 2px solid $black;
	border-radius: $alternative-radius;
	padding: $space-medium;
	font-size: $lead-font-size;
}