/* Globals */
*:focus {
  outline: 1px dotted $anchor-color;
}
/* Links */
// a:is(h1, h2, h3, h4, h5, h6) {
//   text-decoration: none;
// }

/* Layout */
.main-content {
  // Margin-top would be for fixed header
  // margin-top: $mobile-header-height;
  // @include breakpoint(medium) {
  //   margin-top: $header-height;
  // }
  min-height: $mobile-fullheight-header-footer;
  @include breakpoint(medium) {
    min-height: $fullheight-header-footer;
  }
}

/* Header */
.site-header {
  .grid-x {
    min-height: $mobile-header-height;
    @include breakpoint(medium) {
      min-height: $header-height;
    }
  }
  img.logo {
    height: calc(1 * #{$mobile-header-height - $gutter * 2});
    margin-left: auto; // Makes the logo right aligned in Title Bar
    @include breakpoint(medium) {
      height: calc(1 * #{$header-height - $gutter * 2});
    }
  }
}
/* Navigation */
/* Footer */
.site-footer {
  overflow: hidden; // Foundation Menu
  min-height: $mobile-footer-height;
  @include breakpoint(medium) {
    min-height: $footer-height;
  }
}
/* Home */
/* Page */
/* Single */
/* F6 */
.block-grid {
  .cell {
    margin-bottom: $space-medium;
  }
}
/* Plugins */
