$tertiary-color: #A39B97;

$light-primary-color: #F8BB85;
$light-secondary-color: #B8C2D0;
$light-tertiary-color: #BFB7B1;

$dark-primary-color: #C07A3E;
$dark-secondary-color: #5A697E;
$dark-tertiary-color: #716D6A;

$purple: #8B7AF2;