.cc-revoke {
	display: none!important;
}

.cc-compliance .cc-btn.cc-show-settings,
.cc-compliance .cc-btn.cc-show-settings:hover {
	background: transparent !important;
}

#cc-window.cc-window.cc-floating {
	font-family: $body-font-family;
	font-weight: 400;
	background: $white;
	border-radius: $global-radius;
	box-shadow: $shadow;
	border: none;
	padding: 0;
	max-width: calc(100% - #{$gutter} * 2);
	min-width: calc(100% - #{$gutter} * 2)!important;
	bottom: $gutter;
	left:$gutter;
	@include breakpoint(medium) {
		max-width: 460px!important;
		min-width: 460px!important;
	}
	line-height: $paragraph-lineheight;
	display: flex;
	.cc-header {
		display: none;
	}
	.cc-message,
	.cmplz-categories-wrap {
		@include button(false, $black, auto, auto, hollow);
		padding: 0.75em 0.75em;
		font-size: $small-font-size;
		text-align: left;
		float: left;
		border-bottom: none!important;
		.cc-link {
			padding: 0;
			opacity: 1!important;
			text-decoration: underline!important;
		}
	}

	.cc-compliance {
		display: flex!important;
		flex-direction: column;
		
		@include breakpoint(medium) {
			flex-direction: row;
		}
		.cc-btn {
			@include button(false, $black, auto, auto, hollow);
			padding: 0.5em 0.75em;
			font-weight: 400;
			margin: 0!important;
			width: 100%!important;
			&.cc-accept-all,
			&.cc-dismiss,
			&.cc-show-settings {
				@include button(false, $black, auto, auto, hollow);
			}
			&.cc-show-settings {
				border-color: $black!important;
				color: $black!important;
				border-width: 2px!important;
			}
			&.cc-dismiss {
				border-top: none;
				border-bottom: none;
				@include breakpoint(medium) {
					border-left: none;
					border-right: none;
					border-top: 2px solid $black;
					border-bottom:  2px solid $black;
				}
			}
		}
	}
}

.revoke-cookie-consent-container {
	.cc-revoke-custom {
		text-decoration: underline;
		margin-bottom: $gutter * 0.25;
	}

	span {
		display: block;
	}
}

.cc-revoke.cc-bottom.cc-right {
	transform: translateY(0);
	box-shadow: $shadow;
	border-radius: $global-radius !important;
	bottom: $gutter * 3;
	right: $gutter;
	@include button(false, $black, auto, auto, hollow);
	@include button-style($light-gray, $light-gray, $black);
	font-family: $body-font-family;
	line-height: $paragraph-lineheight;
}

.cc-animate.cc-revoke.cc-bottom {
	transform: translateY(0) !important;
}

#cc-window a.cc-btn:hover,
.cc-link,
.cc-revoke:hover {
	text-decoration: none !important;
}

/* Overview on Cookie Consent Page */
#cmplz-cookies-overview {
	background: transparent;

	.cmplz-service-header {
		font-size: $accordion-title-font-size;
		border: $accordion-content-border;
		padding: $accordion-item-padding;
		border-radius: $global-radius;
	}

	.cmplz-dropdown {
		margin-bottom: $space-medium;

		.cmplz-service-description,
		.cmplz-sharing-data,
		.cmplz-service-description,
		.cmplz-sharing-data,
		.cookies-per-purpose {
			display: block;
			width: calc(100% - 2 * 1.25em);
			/* according to $accordion-item-padding */
			//background: $light-gray;
			vertical-align: unset;
			padding-left: 1.25em;
			/* according to $accordion-item-padding */
			padding-right: 1.25em;
		}

		.cmplz-service-description {
			margin-top: $space-medium;
		}
	}


	.cmplz-dropdown summary div {
		display: block;

		p {
			margin-bottom: 0;
		}
	}
}
body .cc-compliance .cc-btn.cc-show-settings, .cc-compliance .cc-btn.cc-save {
	background: transparent!important;
}
// Blur
html.backdropfilter {
	  #cc-window.cc-window.cc-floating  {
		@include background-blur;
	  }
	}
	html.no-backdropfilter {
	  #cc-window.cc-window.cc-floating  {
		background: $white;
	  }
	}

body[data-darkmode-isdark-value="true"] {
	.cc-revoke-custom {
		color: $white;
	}
}