// Layout of pages and blocks: defines the spaces *around* blocks

$column-gutter: map-get($grid-column-gutter, 'small');

.page-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;	
  > * {
	&.wp-block-group {
	  padding-left: 0;
	  padding-right: 0;
	}

	width: 100%;
	max-width: calc(#{$global-width} + #{$column-gutter * 1});
	padding-left: $column-gutter * 1;
	padding-right: $column-gutter * 1;

	@include breakpoint(large) {
	  max-width: calc(12 / 12 * #{$global-width});
	  // width: 66.6666666667%;
	  &.wp-block-file {
		max-width: calc(12 / 12 * #{$global-width} - #{$column-gutter} * 4);
	  }
	  &.wide,
	  .wide {
		max-width: calc(12 / 12 * #{$global-width});
		width: 100%;
	  }
	  &.fullwidth {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
		display: flex;
		justify-content: center;
		.wp-block-group__inner-container {
		  max-width: calc(12 / 12 * #{$global-width} - #{$column-gutter} * 1);
		  padding-left: $column-gutter * 0.5;
		  padding-right: $column-gutter * 0.5;
		}
	  }
	}
  }
  > ul:not([class]),
  > ol:not([class]) {
	margin-left: 0;
	padding-left: $column-gutter * 2;
	padding-right: $column-gutter * 2;
  }

  .has-background:not(.fullwidth) {
	// width: calc(#{$global-width} - #{$column-gutter * 4});
	// max-width: calc(#{$global-width} - #{$column-gutter * 4});
	margin-left: $gutter;
	margin-right: $gutter;
	max-width: calc(100% - 2 * #{$gutter});

	@include breakpoint(large) {
	  max-width: calc(8 / 12 * #{$global-width} - #{$column-gutter} * 1);
	  margin: 0 auto;
	}
  }
}
