.product {
	span.onsale {
		background: $black;
		@include white-color;
		position: absolute;
		top: -$gutter;
		right: -$gutter;
		padding: $global-menu-padding;
	}
}


.single-product {
	.woocommerce-product-gallery {
		background: red;
	}
}