/* Spaces */
//map-get($grid-column-gutter, medium)
$gutter: 15px;
$space-xxlarge: calc(8 * #{$gutter});
$space-xlarge: calc(6 * #{$gutter});
$space-large: calc(4 * #{$gutter});
$space-medium: calc(2 * #{$gutter});
$space-small: calc(1 * #{$gutter});
$space-xsmall: calc(0.5 * #{$gutter});
/* Heights */
$footer-height: 200px;
$mobile-footer-height: 460px;
$header-height: 60px;
$header-height-stuck: 100px;
$mobile-header-height: 63px;
$logo-height: 50px;
$fullheight-header: calc(100vh - #{$header-height});
$mobile-fullheight-header: calc(100vh - #{$mobile-header-height});
$fullheight-header-footer: calc(100vh - #{$header-height + $footer-height});
$mobile-fullheight-header-footer: calc(100vh - #{$mobile-header-height + $mobile-footer-height});
$fullheight: calc(100vh);
$halfheight: 100vh * 0.5;
$twothirdheight: 100vh * 0.66666;
$product-image-size: 400px;
$mobile-product-image-size: 260px;
/* Shadows */
$shadow: 0px 0px 30px rgba(0, 0, 0, 0.31);
$text-shadow: 0 2px 4px rgba(0,0,0,0.50);
/* Animation */
$global-transition: all 0.8s ease;
$global-transition-quick: all 0.1s ease;
// z-index
$front: 999;
$middle: 99;
$back: 9;
$alternative-radius: 15px;
@mixin fullheight-header {
	height: $mobile-fullheight-header;
	@include breakpoint(medium) {
		height: $fullheight-header;
	}
}
@mixin fullheight {
	height: $fullheight;
	@include breakpoint(medium) {
		height: $fullheight;
	}
}
